:root {
    --background: #f8f9fa;
    --purple: #6A5ACD;
    --black: #1C1C1C;
    --secondary: #5D5C61;
    --tertiary: #4A708B;
  }
  * {
    margin: 0;
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: -1;
  }
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--background);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid black;
    z-index: 2;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    font-family: "Lora", serif;
  }
  .nav-links a {
    text-decoration: none;
    color: var(--black);
  }
  .nav-links a:hover {
    color: var(--tertiary);
  }
  .nav-links span {
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
  }
  a:hover span{
    opacity: 100%
  }
  section {
    padding: 70px 0;
    z-index: 1;
  }
  #headshot {
    box-shadow: 0 0 10px var(--black);
  }
  #welcome-section {
    background: var(--background);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    height: calc(100vh - 60px);
    padding: 0 20px 0 20px;
  }
  #welcome-section-container {
    text-align: center;
  }
  h1 {
    position: relative;
    font-family: "Oswald", sans-serif;
    text-align: center;
    z-index: 1;
  }
  #headshot {
    max-width: 300px;
    min-width: 100px;
    border-radius: 100%;
    z-index: 1;
  }
  #welcome-section h1 {
    color: var(--black);
    font-size: 60px;
  }
  #welcome-section p {
    color: var(--tertiary);
    font-size: 24px;
    margin: 25px 0;
    font-family: "Lora", serif;
    font-style: italic;
  }
  #about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    min-height: 80vh;
  }
  #about-section h1 {
    position: relative;
    color: var(--black);
    width: fit-content;
    margin: auto;
    font-size: 60px;
  }
  #about-section p {
    position: relative;
    color: var(--tertiary);
    max-width: 1000px;
    padding: 0 20px 0 20px;
    margin: 1em auto 0;
    text-align: center;
    font-size: 24px;
    font-family: "Lora", serif;
    z-index: 1;
  }
  #projects-section {
    background-color: var(--background);
  }
  #projects-section h1 {
    color: var(--black);
    width: fit-content;
    margin: auto;
    font-size: 60px;
  }
  #projects-section .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
  #projects-section a {
    text-decoration: none;
  }
  #projects-section .project-tile {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background);
    color: var(--black);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--black);
    z-index: 1;
  }
  #projects-section .project-tile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  #projects-section .project-tile p {
    font-size: 24px;
    padding: 10px;
    font-family: "Lora", serif;
  }
  #projects-section .project-tile span {
    opacity: 0%;
    padding: 0 5px;
    transition: opacity 0.2s ease-in-out;
  }
  #projects-section .project-tile:hover span{
    opacity: 100%;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
  }
  #projects-section .project-tile:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
    color: var(--tertiary);
  }
  #contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    text-align: center;
    height: calc(100vh - 180px);
    padding-left: 20px;
    padding-right: 20px;
  }
  #contact-section h1 {
    color: var(--black);
    font-size: 60px;
  }
  #contact-section .proposal {
    color: var(--tertiary);
    font-size: 24px;
    font-family: "Lora", serif;
    font-style: italic;
  }
  #contact-section .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
  }
  #contact-section .social-media {
    text-decoration: none;
    color: var(--black);
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 24px;
    font-family: "Lora", serif;
  }
  #contact-section .social-media:hover {
    transform: scale(1.1, 1.1);
    transition: color ease-in-out;
    color: var(--tertiary);
  }
  #contact-section .social-media:active {
    transform: scale(1, 1);
    color: var(--black);
}
  footer {
    position: relative;
    background-color: var(--background);
    color: var(--black);
    border-top: 1px solid var(--black);
    font-size: 24px;
    padding: 20px;
    font-family: "Lora", serif;
    z-index: -2;
    max-height: 84px;
  }
@media (max-width: 1000px) {
  #contact-section .social-medias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-section .social-media {
    margin: 10px 20px 10px 20px;
  }
}
@media (max-width: 700px) {
  #welcome-section {
    flex-direction: column;
  }
  #welcome-section h1, 
  #about-section h1, 
  #projects-section h1, 
  #contact-section h1 {
    font-size: 48px;
  }
  #about-section p,
  #projects-section .project-tile p,
  #contact-section p {
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  #projects-section .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 500px) {
  #navbar {
    font-size: 20px;
  }
  .nav-links {
    gap: 0;
  }
}